.cabe{

	width: 100%;
	height: 120px;
	background-color: gray;
}
.caja1{

	width: 100%;
	height: 500px;
	background-color: #33FFFD;
	margin-top: 10px;  
}
.pie{

	width: 100%;
	height: 120px;
	background-color: gray;
	margin-top: 10px;  
}
